.grid-section {
  width: 80vw;
  display: grid;
  grid-template-areas:
    "hero hero side"
    "md md side"
    "bt bt bt";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: 1400px;
  /* grid-template-rows: repeat(3, 0.5fr) 0.2fr; */
  gap: 50px;
}
.hero {
  grid-area: hero;
  grid-column: 1/3;
  /* object-fit: cover; */
  width: 100%;
}

.side-panel {
  grid-area: side;
  background-color: hsl(240, 100%, 5%);
  padding: 30px;
  display: grid;
  grid-template-rows: 0.1fr repeat(3, 1fr);
}

.side-heading {
  color: hsl(35, 77%, 62%);
  font-size: 50px;
}

.side-article {
  border-bottom: 1px solid hsl(233, 8%, 79%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.side-panel > :last-child {
  border-bottom: none;
}

.side-article-heading {
  color: hsl(36, 100%, 99%);
  &:hover {
    cursor: pointer;
    color: hsl(35, 77%, 62%);
  }
}

.side-article-text {
  color: hsl(233, 8%, 79%);
  font-size: 15px;
  font-weight: 200;
}

.middle {
  grid-area: md;
  display: flex;
}

.middle > * {
  flex: 1;
}

.mid-side {
  font-size: 69px;
  max-width: 100%;
  max-height: 100%;
}

.mid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mid-text {
  font-size: 17px;
  max-width: 40ch;
  line-height: 1.5;
  color: hsl(236, 13%, 42%);
}

.mid-button {
  border: none;
  background-color: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  font-weight: 700;
  font-size: 15px;
  padding: 15px 15px;
  width: 200px;
  letter-spacing: 5px;

  &:hover {
    cursor: pointer;
    background-color: black;
  }
}

.bottom {
  /* border: 1px solid black; */
  grid-area: bt;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  height: min-content;
  /* height: ; */
  /* max-width: 100%; */
  /* gap: 50px; */
}

.bottom-article {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 100%;
  /* border: 1px solid red; */
  gap: 25px;
}

.article-image {
  object-fit: cover;
  width: 110%;
  height: 100%;
}

.article-texts {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.article-number {
  color: hsl(233, 8%, 79%);
  font-size: 35px;
}

.article-head {
  color: hsl(240, 100%, 5%);
  font-size: 20px;

  &:hover {
    color: hsl(5, 85%, 63%);
    cursor: pointer;
  }
}

.art-text {
  color: hsl(236, 13%, 42%);
  font-size: 17px;
}

/* @media (max-width: 800px) {
  .grid-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "hero"
      "md"
      "side"
      "bt";
    gap: 5px;
  }

  .hero {
    object-fit: contain;
  }

  .middle {
    flex-direction: column;
  }

  .mid {
    justify-content: space-evenly;
  }

  .mid-side {
    max-width: 10ch;
  }

  .mid-text {
    font-size: 17px;
    max-width: 50ch;
  }

  .bottom {
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
  }

  .bottom-article {
    height: 130px;
  }

  .article-image {
    object-fit: cover;
  }
} */
