.logo {
  margin-right: auto;
}

.navBar {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  max-width: 1400px;
  margin-bottom: 50px;
}

.navItem {
  list-style: none;
  width: 120px;
  display: grid;
  place-items: center;
  font-size: 17px;
}

a {
  text-decoration: none;
  color: hsl(236, 13%, 42%);
  font-weight: 400;
  &:hover {
    color: hsl(5, 85%, 63%);
  }
}

.mobileNav {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  min-height: 100%;
  width: 70vw;
}

.closeM {
  right: -100%;
  transition: all 0.5 linear;
}

.open {
  right: 0;
  /* transition: all 0.5s linear; */
}

.dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 30vw;
  min-height: 100%;
  /* code from internet */
  overflow: hidden;
  background: #c04848; /* fallback for old browsers */
  background: linear-gradient(
    rgb(72, 0, 72, 0.8),
    rgb(192, 72, 72, 0.8)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(rgba(36, 36, 36, 0.8), rgba(116, 115, 115, 0.8));
  background-repeat: no-repeat;
}

.navItemM {
  padding: 20px;
  font-size: 30px;
  list-style: none;

  &:hover {
    color: hsl(5, 85%, 63%);
  }
}

.close {
  position: absolute;
  top: 3%;
  right: 15%;

  &:hover {
    cursor: pointer;
  }
}
