@import './variables.css';

#root {
    background-color: var(--theme1-main-background);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    /* border: 1px solid white; */
    width: 40vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}