@import './variables.css';

.buttons {
    background-color: var(--theme1-button-background);
    flex-grow: 20;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 40px;
    padding: 40px;
    row-gap: 20px;
   
}

.buttonInput {
    color: var(--theme1-text);
    background-color: var(--theme1-key-background);
    border: 0;
    border-radius: 15px;
    font-size: 32px;
    border-bottom: 4px solid var(--theme1-key-shadow);
    &:hover {
        cursor: pointer;
    }
}

.blueButton {
    background-color: #65719a;
    color: var(--theme1-key-background);
    border-bottom: 4px solid #424e74;
}

.resetButton {
    grid-column: 1/3;
}

.equalButton {
    grid-column: 3/5;
    background-color: var(--theme1-key2-background);
    border-bottom: 3px solid hsl(6, 70%, 34%)
}