@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,800&display=swap");

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.card {
  position: relative;
  background-color: hsl(0, 0%, 100%);
  padding: 70px;
  border-radius: 25px 25px 25% 25px;
}

.input-section {
  display: flex;
  gap: 25px;
  width: 700px;
  border-bottom: 1px solid hsl(0, 1%, 44%);
  padding: 30px 0;
}

.inputDay,
.inputMonth,
.inputYear {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 125px;
}

.inputHeading {
  font-size: 0.9rem;
  letter-spacing: 2px;
  color: hsl(0, 1%, 44%);
}

input {
  font-size: 2rem;
  padding: 5px 20px;
  width: 175px;
  border: none;
  outline: 1px solid hsl(0, 1%, 44%);
  border-radius: 5px;
}

::placeholder {
  font-size: 2rem;
  color: hsl(0, 0%, 86%);
}

.errorMessage {
  font-size: 0.7rem;
}

/* DISPLAY SECTION */

.display {
  font-size: 5rem;
}

.purple {
  color: hsl(259, 100%, 65%);
}

.red {
  color: hsl(0, 100%, 67%);
}

.red-border {
  outline:  1px solid hsl(0, 100%, 67%);
}

button {
  position: absolute;
  top: 29%;
  right: 5%;
  background-color: hsl(259, 100%, 65%);
  border: none;
  aspect-ratio: 1/1;
  width: 100px;
  border-radius: 50%;
  &:hover {
    transition: all linear 0.4s;
    cursor: pointer;
    background-color: black;
  }
}

/* Mobile */
@media (max-width: 600px) {

  .card {
    width: 600px;
  }

  input {
    width: 125px;
  }
 
  .input-section {
    width: 100%;
    padding: 40px 0px 70px 0px;

  }

  button {
    left: 50%;
    transform: translate(-50%, 0);
    top: 34%;
  }

  .display-section {
    padding-top: 50px;
  }

  .display {
    font-size: 4.5rem;
  }
}