@import "./constants.css";

/* PARENT CONTAINER */
.formSection {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* INPUT */

.inputHeading {
  font-size: 20px;
  color: var(--dark-gray-cyan);
  margin-bottom: 15px;
}

.iconInput {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  height: 45px;
  background-color: var(--lighter-gray-cyan);
}

.iconInput:focus {
  border: 3px solid red;
}

.icon {
  /* border: 1px solid black; */
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 0 0 5px;
}

.input {
  background-color: var(--lighter-gray-cyan);
  /* flex-shrink: 1; */
  height: 100%;
  border: 0;
  /* flex: 1; */
  width: 100%;
  text-align: end;
  padding: 10px;
  font-size: 24px;
  border-radius: 0 5px 5px 0;
}

::placeholder {
  font-size: 24px;
  color: var(--dark-gray-cyan);
}

/*  GRID INPUT */

.gridButtons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

.btn {
  color: var(--lighter-gray-cyan);
  background-color: var(--dark-cyan);
  border: 0;
  border-radius: 5px;
  padding: 10px;
  font-size: 24px;
  &:hover {
    cursor: pointer;
    /* background-color: var(--strong-cyan); */
    background-color: var(--light-gray-cyan);
    color: var(--dark-cyan);
  }
  &:focus {
    background-color: var(--light-gray-cyan);
    color: var(--dark-cyan);
  }
}

.customInput {
  text-align: center;
  border-radius: 5px;
  border: 0;
  background-color: var(--lighter-gray-cyan);
  font-size: 24px;
  &:hover {
    cursor: pointer;
    border: 3px solid var(--strong-cyan);
  }
}

input {
  color: var(--dark-cyan);
}

input:focus {
  border: 3px solid var(--strong-cyan);
  outline: 0;
}

.errorHeading {
  display: flex;
  justify-content: space-between;
}

.error {
  border: 3px solid orange;
}

.errorMessage {
  color: orange;
}

@media (min-width: 800px) {
  .gridButtons {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
